/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    font: 0;
    vertical-align: baseline;
}
body{
    display: flex;
    flex-direction: column;
    font: bold;
    font-size: 25px;
}
.container-geral{
    display: flex;
    flex-direction: column;
    font: bold;
    font-size: 25px;
}
.header{
    background-color: rgb(39, 201, 39);
    display: flex;
    justify-content: center;
}