*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }

body{
    font-size: 1.3rem;
    height: 100%;
    font-weight: bolder;
}
header{
    background-color: rgb(41, 255, 33);
    padding: 2rem;
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.leftbar{
    background-color: rgb(34, 31, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 15%;
    height: 90vh;
}

.content{
    background-color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 85%;
  }

footer{
    background-color: rgb(41, 255, 33);
    padding: 1rem;
    text-align: center;
}
